

:root {
    

    --default-color: lemonchiffon;
    --default-color2: white;
    --default-btn: skyblue;
    --default-hover: deepskyblue;
    --default-big: linear-gradient(palegoldenrod, lemonchiffon);
    --default-btn-shadow: 1px 1px 2px black;
    --default-border: lightskyblue;
    --default-box: linear-gradient(skyblue, rgb(153, 212, 235));
    --default-box-hover: deepskyblue;
    --default-box-shadow-hover: 0;
    --default-tag: linear-gradient(skyblue, rgb(245, 236, 154));
    --default-span: white;
    --default-container: linear-gradient(lemonchiffon, rgb(244, 235, 158));
    --default-world-container: linear-gradient(white, rgb(242, 238, 238));
    --default-site-block: skyblue;
    --default-site-name: linear-gradient(khaki 20%, deepskyblue);
    --default-text: white;
    --default-text-shadow: 0 0 5px black;
    --default-name-border: 2px, solid, black;
    --default-name-shadow: 0 0 3px white;

    --default-color-dark: linear-gradient(gold, yellow);
    --default-color2-dark: lightgrey;
    --default-btn-dark: deepskyblue;
    --default-hover-dark: cyan;
    --default-big-dark: linear-gradient(gold, yellow);
    --default-btn-shadow-dark: 0px 0px 10px cyan;
    --default-border-dark: deepskyblue;
    --default-box-dark: deepskyblue;
    --default-box-hover-dark: cyan;
    --default-box-shadow-hover-dark: 0 0 15px deepskyblue;
    --default-tag-dark: linear-gradient(deepskyblue, gold);
    --default-span-dark: white;
    --default-container-dark: linear-gradient(deepskyblue, yellow );
    --default-world-container-dark: linear-gradient(130deg, black 40%, royalblue);
    
    --default-site-name-dark: linear-gradient(yellow 20%, cyan);
    --default-text-dark: white;
    --default-text-shadow-dark: 0 0 5px black;
    --default-name-border-dark: 2px, solid white;
    --default-name-shadow-dark: 0 0 15px yellow;
    

    --red-color: grey;
    --red-color2: lightgray;
    --red-btn: crimson;
    --red-hover: firebrick;
    --red-big: linear-gradient(silver 40%, grey);
    --red-btn-shadow: 0;
    --red-border: crimson;
    --red-box: linear-gradient(crimson, firebrick);
    --red-box-hover: linear-gradient(darkred, maroon); 
    --red-box-shadow-hover:0;
    --red-tag: grey;
    --red-span: crimson;
    --red-container: lightgrey;
    --red-world-container: linear-gradient(white, lightgrey);
    --red-site-block: lightgray;
    --red-site-name: linear-gradient(crimson, darkred);
    --red-text: black;
    --red-text-shadow: 0 ;
    --red-name-border: 2px, solid, black;
    --red-name-shadow: 0;


    --red-color-dark: dimgrey;
    --red-color2-dark: linear-gradient(dimgrey, grey, silver);
    --red-btn-dark: rgb(197, 26, 26);
    --red-hover-dark: red;
    --red-big-dark: linear-gradient(dimgrey , black);
    --red-btn-shadow-dark: 0 0 20px red;
    --red-border-dark: dimgrey;
    --red-box-dark: rgb(197, 26, 26);
    --red-box-hover-dark: red; 
    --red-box-shadow-hover-dark:0 0 15px red;
    --red-tag-dark: linear-gradient(dimgrey, black);
    --red-span-dark: crimson;
    --red-container-dark: linear-gradient(grey, black);
    --red-world-container-dark: linear-gradient(120deg, black 40%, crimson);
    --red-site-block-dark: transparent;
    --red-site-name-dark: linear-gradient(dimgrey, black);
    --red-text-dark: crimson;
    --red-text-shadow-dark: 0 0 10px black ;
    --red-name-border-dark: 2px, solid, black;
    --red-name-shadow-dark: 0 0 10px red;
    

  
    
    
    

    --blue-color: dodgerblue;
    --blue-color2: antiquewhite;
    --blue-btn: deepskyblue;
    --blue-hover:coral;
    --blue-big: linear-gradient(deepskyblue, royalblue);
    --blue-btn-shadow: 0;
    --blue-border: rgb(226, 215, 199);
    --blue-box: linear-gradient(deepskyblue, dodgerblue);
    --blue-box-hover: linear-gradient(dodgerblue, royalblue);
    --blue-box-shadow-hover: 0 0 15px deepskyblue;
    --blue-tag: rgb(226, 215, 199);
    --blue-span: linear-gradient(deepskyblue, royalblue);
    --blue-container: antiquewhite;
    --blue-world-container: linear-gradient(white, lightblue);
    --blue-site-block: antiquewhite;
    --blue-site-name: linear-gradient(deepskyblue, royalblue);
    --blue-text: 0;
    --blue-text-shadow: 0;
    --blue-name-border: 2px, solid, rgb(226, 215, 199);
    --blue-name-shadow: 0;


    --blue-color-dark: royalblue; 
    --blue-color2-dark: linear-gradient(royalblue, transparent);
    --blue-btn-dark: aqua;
    --blue-hover-dark: turquoise;
    --blue-big-dark: linear-gradient(royalblue, midnightblue);
    --blue-btn-shadow-dark: 0 0 15px aqua;
    --blue-border-dark: royalblue;
    --blue-box-dark: linear-gradient(royalblue, midnightblue);
    --blue-box-hover-dark: linear-gradient(aqua, deepskyblue);
    --blue-box-shadow-hover-dark: 0 0 15px aqua;
    --blue-tag-dark: linear-gradient(royalblue, midnightblue, black);
    --blue-span-dark: linear-gradient(aqua, deepskyblue);
    --blue-container-dark: linear-gradient(deepskyblue, midnightblue, black);
    --blue-world-container-dark: linear-gradient(130deg, black 40%, midnightblue);
    --blue-site-block-dark: transparent;
    --blue-site-name-dark: linear-gradient(midnightblue, black);
    --blue-text-dark: aqua;
    --blue-text-shadow-dark: 0 0 3px black;
    --blue-name-border-dark: 2px, solid, black;
    --blue-name-shadow-dark: 0 0 15px aqua;



    --green-color: lightgreen;
    --green-color2: linear-gradient(lightgreen, burlywood 20%);
    --green-btn: chartreuse;
    --green-hover: limegreen;
    --green-big: lightgreen;
    --green-btn-shadow: 0 0 3px skyblue;
    --green-border: skyblue;
    --green-box: linear-gradient(lightgreen, burlywood);
    --green-box-hover: linear-gradient(limegreen, rosybrown);
    --green-box-shadow-hover: 0;
    --green-tag: lightgreen;
    --green-span: white;
    --green-container: rosybrown;
    --green-world-container: linear-gradient( white, whitesmoke);
    --green-site-block: rosybrown;
    --green-site-name:  linear-gradient(lightgreen, chartreuse);
    --green-text: 0;
    --green-text-shadow:0;
    --green-name-border: 2px, solid, black;
    --green-name-shadow: 0;


    --green-color-dark: dimgrey;
    --green-color2-dark: linear-gradient( dimgrey, lime);
    --green-btn-dark: lime;
    --green-hover-dark: cyan;
    --green-big-dark: linear-gradient(black 20%, dimgrey);
    --green-btn-shadow-dark: 0 0 15px lime;
    --green-border-dark: rgb(25, 25, 25);
    --green-box-dark: linear-gradient( chartreuse, lime);
    --green-box-hover-dark: linear-gradient(deepskyblue, cyan);
    --green-box-shadow-hover-dark: 0 0 10px cyan;
    --green-tag-dark: linear-gradient(black, lime);
    --green-span-dark: rgb(33, 33, 33);
    --green-container-dark: transparent;
    --green-world-container-dark: linear-gradient(130deg, black 60%, rgb(63, 63, 63));
    --green-site-block-dark: linear-gradient(90deg, dimgrey, transparent 50%);
    --green-site-name-dark:  linear-gradient(black, dimgrey);
    --green-text-dark: lime;;
    --green-text-shadow-dark:0 0 5px black;
    --green-name-border-dark: 2px, solid, black;
    --green-name-shadow-dark: 0 0 10px lime;
 

    --yellow-color: palegoldenrod;
    --yellow-color2: linear-gradient(palegoldenrod,  ivory);
    --yellow-btn: linear-gradient(violet, blueviolet);
    --yellow-hover: gold;
    --yellow-big: linear-gradient(violet, blueviolet);
    --yellow-btn-shadow: 0 0 10px silver;
    --yellow-border: silver;
    --yellow-box: linear-gradient(palegoldenrod,  ivory);
    --yellow-box-hover: linear-gradient(violet, blueviolet);
    --yellow-box-shadow-hover: 0 0 10px blueviolet;
    --yellow-tag: linear-gradient(blueviolet, khaki);
    --yellow-span:linear-gradient(ivory, palegoldenrod);
    --yellow-container:linear-gradient(silver,ivory) ;
    --yellow-world-container: linear-gradient(130deg, white 60%, goldenrod);
    --yellow-site-block: linear-gradient(90deg, palegoldenrod, transparent 80%);
    --yellow-site-name: linear-gradient(violet, blueviolet);
    --yellow-text: khaki;
    --yellow-text-shadow: 0 0 10px black;
    --yellow-name-border:  2px, solid, silver;
    --yellow-name-shadow: 0;
    
    --yellow-color-dark: dimgrey;
    --yellow-color2-dark: linear-gradient(dimgrey, silver, ivory);
    --yellow-btn-dark: gold;
    --yellow-hover-dark: yellow;
    --yellow-big-dark: linear-gradient(silver, grey);
    --yellow-btn-shadow-dark: 0 0 10px yellow;
    --yellow-border-dark: gold;
    --yellow-box-dark: linear-gradient(goldenrod, gold);
    --yellow-box-hover-dark: yellow;
    --yellow-box-shadow-hover-dark: 0 0 15px yellow;
    --yellow-tag-dark: linear-gradient(dimgrey, transparent);
    --yellow-span-dark:linear-gradient(gold, yellow);
    --yellow-container-dark:linear-gradient(grey, transparent) ;
    --yellow-world-container-dark: linear-gradient(130deg, black 40%, indigo);
    --yellow-site-block-dark: linear-gradient(90deg, dimgrey, transparent 80%);
   
    --yellow-site-name-dark: linear-gradient(yellow, gold);
    --yellow-text-dark: 0;
    --yellow-text-shadow-dark: 0;
    --yellow-name-border-dark:  0;
    --yellow-name-shadow-dark: 0 0 15px yellow;
    
    
    
    --purple-color: magenta;
    --purple-color2: linear-gradient(magenta, deepskyblue);
    --purple-btn: deepskyblue ;
    --purple-hover: hotpink;
    --purple-big: linear-gradient(magenta, deepskyblue) ;
    --purple-btn-shadow: 0 0 2px skyblue;
    --purple-border: skyblue;
    --purple-box: linear-gradient(magenta 40%, deepskyblue);
    --purple-box-hover: deeppink;
    --purple-box-shadow-hover: 0 0 20px deeppink;
    --purple-tag: linear-gradient(magenta, royalblue);
    --purple-span:linear-gradient(cyan, deepskyblue); 
    --purple-container: linear-gradient(magenta, royalblue);
    --purple-world-container: linear-gradient(130deg, white, skyblue, magenta); 
    --purple-site-block: linear-gradient(90deg, lightskyblue, transparent);
    --purple-site-name: linear-gradient(magenta, deepskyblue); 
    --purple-text: white;
    --purple-text-shadow: 0 0 5px black;
    --purple-name-border: 0;
    --purple-name-shadow: 0;
    
    --purple-color-dark: blueviolet;
    --purple-color2-dark: linear-gradient(blueviolet,magenta);
    --purple-btn-dark: deepskyblue;
    --purple-hover-dark: aqua ;
    --purple-big-dark: linear-gradient(blueviolet,magenta) ;
    --purple-btn-shadow-dark: 0 0 20px magenta;
    --purple-border-dark: magenta;
    --purple-box-dark: linear-gradient(hotpink, magenta);
    --purple-box-hover-dark: linear-gradient(cyan, deepskyblue);
    --purple-box-shadow-hover-dark: 0 0 20px cyan;
    --purple-tag-dark: linear-gradient(blueviolet, magenta);
    --purple-span-dark:linear-gradient(cyan, deepskyblue); 
    --purple-container-dark: linear-gradient(blueviolet,magenta);
    --purple-world-container-dark: linear-gradient(130deg, black 40%, darkorchid); 
    --purple-site-block-dark: transparent;
    --purple-site-name-dark: linear-gradient(cyan, deepskyblue); 
    --purple-text-dark: black;
    --purple-text-shadow-dark: 0;
    --purple-name-border-dark: 0;
    --purple-name-shadow-dark: 0 0 20px cyan;
    
    
    --pink-color: black;
    --pink-color2: linear-gradient(black, silver, white);
    --pink-btn: silver;
    --pink-hover: violet;
    --pink-big: linear-gradient(hotpink, violet);
    --pink-btn-shadow: 0 0 10px grey;
    --pink-border: skyblue;
    --pink-box: linear-gradient(white, black);
    --pink-box-hover: linear-gradient(violet, orchid);
    --pink-box-shadow-hover: 0 0 15px darkviolet;
    --pink-tag: linear-gradient(silver, violet);
    --pink-span:linear-gradient(grey, silver);
    --pink-container:linear-gradient(silver, violet) ;
    --pink-world-container: linear-gradient(130deg, white, skyblue, violet);
    --pink-site-block: linear-gradient(90deg, silver, transparent);
    --pink-site-name: linear-gradient(hotpink, violet);
    --pink-text: white;
    --pink-text-shadow: 0 0 15px black;
    --pink-name-border: 2px, solid, black;
    --pink-name-shadow: 0 0 2px black;
    
    
    
    --pink-color-dark: hotpink;
    --pink-color2-dark: linear-gradient(hotpink, black);
    --pink-btn-dark: deeppink;
    --pink-hover-dark: fuchsia;
    --pink-big-dark: linear-gradient(hotpink, black);
    --pink-btn-shadow-dark: 0 0 15px deeppink;
    --pink-border-dark:  deeppink;
    --pink-box-dark:  linear-gradient(deeppink, mediumvioletred);
    --pink-box-hover-dark: fuchsia;
    --pink-box-shadow-hover-dark: 0 0 15px fuchsia;
    --pink-tag-dark: black;
    --pink-span-dark: deeppink;
    --pink-container-dark: linear-gradient(mediumvioletred 10%, black);
    --pink-world-container-dark: linear-gradient(130deg, black 40%, darkmagenta); 
    --pink-site-block-dark: transparent;
    --pink-site-name-dark: linear-gradient(deeppink, fuchsia);
    --pink-text-dark: 0;
    --pink-text-shadow-dark:0;
    --pink-name-border-dark: 0;
    --pink-name-shadow-dark: 0 0 20px magenta;
    
    


    
}




*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}


html {
    font-size: 62.5%;
}

body {
    overflow-y: auto;
   
}

/* container */


::-webkit-scrollbar {
    width: 2.2rem;
    overflow: hidden;
}

::-webkit-scrollbar-track{
    margin-block: 1.5rem;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    opacity: 50%;
    border: 2px, solid, black;
   
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border: 2px, solid, black; 
    border-radius: 40px;
    overflow: hidden;
}

#world-container::-webkit-scrollbar-track {
    margin-block: 5rem;
}

#world-container{
    background: linear-gradient(white 120%, lightgrey);
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    
    padding: 2rem;
    
}

#world-container.dark-mode {
    background: linear-gradient(135deg, black 30%, darkslateblue);
    
}

#site-block{
    background-color: lavender;
    border-radius: 60px;
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    
    
}
#site-name{
    font-size: 2rem;
    padding: 1rem;
    height: 8rem;
    background: aqua;
    border-radius: 40px;
    border: 2px, solid, black;
    width: 40rem;
    margin-right: 1rem;
    
    
}



.big-btn {
    font-size: 7rem;
    cursor: pointer;
    --fa-border-radius: 100%;
    text-shadow: 0 0 10px black;
    margin-left: 1rem;
    margin-right: 1rem; 
    box-shadow: 2px 2px 4px black;
    
}

#recolor:hover {
    background: linear-gradient(crimson, dodgerblue, yellowgreen);
}


#add-list:hover {
    background: linear-gradient(lemonchiffon, khaki);
   
}

#dark-mode:hover{
    background: linear-gradient(royalblue, blueviolet);
  
}

@media screen and (max-width: 2100px) {
    .big-btn {
        font-size: 6.5rem;
        
    }
    #site-name {
        width: 35rem;
        background-color: yellow;
    }
}
    
@media screen and (max-width: 1780px) {
    .big-btn {
        font-size: 6rem;
    }
    #site-name {
        font-size: 1.8rem;
        width: 33rem;
        height: 7.5rem;
        background-color: blueviolet;
    }
    #site-block {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 1540px) {
    .big-btn {
        font-size: 5rem;
    }
    #site-name {
        font-size: 1.6rem;
        width: 30rem;
        height: 6.5rem;
    }
    #site-block {
        padding: 1rem;
    }
}

@media screen and (max-width: 1120px) {
    
    .big-btn {
        font-size: 4.5rem;
        
    }
    #site-name {
        font-size: 1.2rem;
        width: 24rem;
        height: 6rem;
        background-color: lime;
    }

}

@media screen and (max-width: 1010px) and (max-height: 720px) {
    #world-container {
        max-height: 720px;
        overflow-y: auto;
    }
    #site-name {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 750px) {
    #site-name {
        background-color: deeppink;
        font-size: 1rem;
        width: 20rem;
        height: 5rem;
        

    }
    #site-block {
        flex-direction: column;
    }
    .big-btn {
        font-size: 3.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
    
}

    
#body-container{
    display: flex;
    
}

@media screen and (max-width:750px) {
    #body-container {
        flex-direction: column;
        align-items: center;
        height: 80%;
    }
    
    
}
/* CONTAINER */
#container {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    
    margin-top: 2rem;
    flex-grow: 1;
    
    border-radius: 20px;
  
    
}

/*todo-list*/    

.todo-list {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    border: 2px, solid, black;
    border-radius: 40px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 0 3px black;
    
    
  
   
}

/*todo-top*/

.todo-top {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.name-bar {
    text-align: center;
    height: 6rem;
    outline: 0;
    font-size: 3rem;
    padding: 1.5rem;
    border-radius: 40px;
    border: 2px, solid, black;
    flex-grow: 1;
}

.name-bar:focus {
    box-shadow: 0 0 5px black;
}



.icon {
    font-size: 4rem;
    --fa-border-radius: 100%;
    --fa-border-padding	: 1rem;
    --fa-border-width: 2px;
    --fa-border-color: black;
    box-shadow: 0 0 2px black;
    cursor: pointer;
}

@media screen and (max-width: 2100px) {
    #container {
        margin-top: 0;
    }
    .name-bar {
        height: 5rem;
        font-size: 2.2rem;
        padding: 1.4rem;
    }

    .icon {
        font-size: 3.3rem;
    }
}

@media screen and (max-width: 1780px) {
    .todo-list {
        margin-top: 4rem;
    }  
    
    .name-bar {
        font-size: 2rem;
        padding: 1.2rem;
    }
 
    .icon {
        font-size: 3.3rem;
    }
    
}


@media screen and (max-width: 1540px) {
    .todo-list {
        margin-top: 2rem;
    }
   
}


@media screen and (max-width: 1120px) {
    .name-bar {
        font-size: 1.8rem;
       
        height: 4.5rem;
        padding: 1rem;
    }
   
    .icon {
        font-size: 2.6rem;
    }
    
}


@media screen and (max-width:1010px) {
    .name-bar {
        font-size: 2.4rem;
        
        height: 5.5rem;
        padding: 1rem;
    }
   
    .icon {
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 750px) {
    .todo-list {
        margin-top: 1rem;
    }  
    .name-bar {
        font-size: 1.4rem;
        padding: 1rem;
        height: 3.5rem;
       
    }

    .icon {
        font-size: 1.4rem;
    }
    #container {
        width: 100%;
        height: 100%;
    }
  
}
/* input-group */
.input-group {
    border: 2px, solid, black;
    display: inline-flex;
    border-radius: 40px;
    overflow: hidden;
    background-color: white;
    margin: 1rem;
    width: 48rem;
    
}


.input-bar {
    border: 0;
    height: 5rem;
    outline: 0;
    font-size: 2.4rem;
    padding: 1rem;
    width: 40rem;
    

}

.add-btn {
    border-radius: 40px;
    border: 2px, solid, black;
    height: 5rem;
    font-size: 2.4rem;
    padding: 1rem;
    border: 0;
    width: 8rem;
    cursor: pointer;
    font-weight: 400;
    box-shadow: 0 0 2px black;
}

@media screen and (max-width: 2100px) {
    .input-group {
        width: 43rem;
    }
    .input-bar {
        width: 36rem;
        font-size: 2.3rem;
    }
    .add-btn {
        font-size: 2.3rem;
        width: 7rem;

    }
    
}

@media screen and (max-width: 1780px) {
    .input-group {
        width: 40rem;
    }
    .input-bar {
        width: 33rem;
        font-size: 2rem;
    }
    .add-btn {
        height: 4.5rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 1540px) {
    .input-bar {
        height: 4.5rem;
    }
    
}

@media screen and (max-width: 1120px) {
    .input-group {
        width: 34rem;
    }
    .input-bar {
        width: 28rem;
        font-size: 2.3rem;
        height: 3.5rem;
    }
    .add-btn {
        font-size: 2rem;
        width: 6rem;
        height: 4rem;

    }

}

@media screen and (max-width: 1010px) {
    .input-group {
        width: 46rem;
    }
    .input-bar {
        width: 38rem;
        font-size: 2.3rem;
        padding-top: 1.4rem;
        padding-left: 1.5rem;
        height: 4rem;
    }
    .add-btn {
        font-size: 2rem;
        width: 8rem;
        height: 4.5rem;

    }
    
}

@media screen and (max-width: 750px) {
    .input-group {
        width: 28rem;
    }
    .input-bar {
        width: 23rem;
        font-size: 1.4rem;
        height: 3rem;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 0.3rem;

    }
    .add-btn {
        font-size: 1.4rem;
        width: 5rem;
        height: 3.2rem;
        padding: 0;
        

    }
    
}

/*imput-task*/


.list-container{
    overflow-y: auto;
    max-height: 68rem;
    font-size: 2.4rem;
   align-items: center;
}

.list-container::-webkit-scrollbar-track {
    margin-block: 2rem;
}


ul li {
    list-style: none;
    padding: 1rem;
    padding-top: 1.3rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    
    border: 2px, solid, black;
    border-radius: 40px;
    background-color: white;
    position: relative;
    padding-left: 5rem;
    
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background-image: url(checkbox.png);
    background-size: cover;
    background-position: center;
    top: 1.6rem;
    left: 1rem;
} 

ul li.checked {
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checkedbox.png);
}

.mini-x {
    position: absolute;
    right: 10px;
    top: 6px;
    color: black;
    font-size: 2rem;
    --fa-border-radius: 100%;
    --fa-border-width: 1px;
    --fa-border-padding: 10px;
    --fa-border-color: transparent;
}

.mini-x:hover {
    --fa-border-color: black;
}

@media screen and (max-width: 2100px) {
    .list-container {
        font-size: 2.2rem;
    }
    .list-container {
        max-height: 56rem;
    }
}

@media screen and (max-width: 1780px) {
    .list-container {
        font-size: 1.8rem;
    }
    .list-container {
        max-height: 50rem;
    }
    .todo-bottom {
        font-size: 2.4rem;
    }
    .mini-x {
        font-size: 1.6rem;
    }
    ul li::before {
        height: 2.2rem;
        width: 2.2rem;
        top: 1.2rem;
        left: 1rem;
    }
    
}

@media screen and (max-width: 1120px) {

    .list-container {
        max-height: 44rem;
    }

    .todo-bottom {
        font-size: 2rem;
    }

    .mini-x {
        font-size: 1.6rem;
    }
    ul li::before {
        height: 2rem;
        width: 2rem;
    }

    
}
@media screen and (max-width: 1010px) and (max-height: 720px)  {
    .list-container {
        max-height: 34rem;
        
    }
    .todo-list {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 750px) {
    .list-container {
        max-height: 34rem;
        font-size: 1.4rem;
    }

    .todo-bottom {
        font-size: 1.2rem;
    }

    .mini-x {
        font-size: 1.2rem;
        right: 5px;
        top: 1px;
    }
    ul li::before {
        height: 1.6rem;
        width: 1.6rem;
        top: 0.8rem;
        left: 1rem;
    }
    ul li {
        height: 3.5rem;
        padding: 0.8rem;
        padding-left: 4rem;
    }
}

/* Storage */
#storage-group {
    border-radius: 30px;
    border: 2px, solid, black;
    margin-right: 0.5rem;
    margin-top: 7rem;
    justify-items: center;
    justify-self: center;
    height: 88rem;
    width: 30rem;
}

#storage-tag {
    text-align: center;
    font-size: 2.8rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 40px;
    width: 70%;
    border: 2px, solid, black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    
}
#storage-container {
    border-radius: 30px;
    border: 2px, solid, black;
    display: grid;
    grid-template-columns: repeat(2, 13rem);
    grid-template-rows: repeat(6, 13rem);
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    box-shadow: 0px 0px 3px black;
    padding-right: 1rem;
    

}

.storage-box {
    width: 12rem;
    height: 12rem;
    
    border: 2px, solid, black;
    border-radius: 20px;
    overflow: hidden;
    justify-items: center;
    margin: 1rem;
    box-shadow: 2px 2px 1px black;
    
    
}

.storage-box div {
    
    text-overflow: ellipsis;
    overflow: hidden;
    
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2.2rem;
    white-space: nowrap;
}

@media screen and (max-width: 2100px) {
    #storage-group {
        margin-top: 4rem;
        height: 75rem;
        width: 26rem;
    }
    #storage-tag {
        font-size: 2.5rem;
        width: 90%;

        
    }
    #storage-container {
        grid-template-columns: repeat(2, 11rem);
        grid-template-rows: repeat(6, 11rem);
    }
    .storage-box {
        width: 10rem;
        height: 10rem;
    }
    .storage-box div {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1780px) {
    #storage-group {
        height: 67rem;
        width: 23rem;
    }
    #storage-tag {
        font-size: 2rem;
        width: 60%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        
    }
    #storage-container {
        grid-template-columns: repeat(2, 10rem);
        grid-template-rows: repeat(6, 10rem);
        padding: 0;
        margin-top: 0.5;

    }
    .storage-box {
        width: 9rem;
        height: 9rem;
        margin: 0.5rem;
        
    }
    .storage-box div {
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 1540px) {
    #storage-group {
        margin-top: 2rem;

    }
}

@media screen and (max-width: 1120px) {
    #storage-group {
        height: 35rem;
        width: 21rem;
    }
    #storage-tag {
        font-size: 1.8rem;
        
    }
    #storage-container {
        grid-template-columns: repeat(2, 9rem);
        grid-template-rows: repeat(3, 9rem);
        height: 28rem;
        padding-right: 0.5rem;
        margin-top: 0;
    }
    .storage-box {
        width: 8rem;
        height: 8rem;
        margin: 0.5rem;
        
    }
    .storage-box div {
        font-size: 1rem;
    }

}

@media screen and (max-width: 1010px) and (max-height: 720px) {
    #storage-group {
        height: 25rem;
        margin-bottom: 6rem;
    }
    #storage-container {
        grid-template-columns: repeat(2, 9rem);
        grid-template-rows: repeat(2, 9rem);
        height: 19rem;
    }
}

@media screen and (max-width: 750px) {
    #storage-group {
        height: 12rem;
        width: 25.2rem;
        border-radius: 40px;
        margin-right: 0;
        margin-top: 1rem;
       
    }
    #storage-tag {
        font-size: 1.6rem;
        width: 60%;
        margin: 0;
        
    }
    #storage-container {
        grid-template-columns: repeat(3, 7.3rem);
        grid-template-rows: repeat(1, 8rem);
        height: 8.5rem;
        width: 25rem;
        margin-bottom: 20rem;
      
       
    }
    .storage-box {
        width: 7rem;
        height: 7rem;
 
        
    }
    .storage-box div {
        font-size: 1rem;
    }
}



/* recolor */

#world-container.white{
    background: var(--default-world-container);
}
#world-container.red{
    background: var(--red-world-container);
}
#world-container.blue{
    background: var(--blue-world-container);
}
#world-container.green{
    background: var(--green-world-container);
}
#world-container.yellow{
    background: var(--yellow-world-container);
}
#world-container.purple{
    background: var(--purple-world-container);
}
#world-container.pink{
    background: var(--pink-world-container);
}


#site-block.white{
    background: var(--default-site-block);
}
#site-block.red{
    background: var(--red-site-block);
}
#site-block.blue{
    background: var(--blue-site-block);
}
#site-block.green{
    background: var(--green-site-block);
}
#site-block.yellow{
    background: var(--yellow-site-block);
}
#site-block.purple{
    background: var(--purple-site-block);
}
#site-block.pink{
    background: var(--pink-site-block);
}
@media screen and (max-width: 750px) {
    #site-block.yellow{
        background: linear-gradient(360deg, palegoldenrod, transparent 80%);
    }
    #site-block.purple{
        background: linear-gradient(360deg, lightskyblue, transparent);
    }
    #site-block.pink{
        background: linear-gradient(360deg, silver, transparent);
    }
    
}

#site-name.white{
    background:  var(--default-site-name);
    color: var(--default-text);
    text-shadow: var(--default-text-shadow);
    border: var(--default-name-border);
    box-shadow: var(--default-name-shadow);
}
#site-name.red{
    background: var(--red-site-name);
    color: var(--red-text);
    text-shadow: var(--red-text-shadow);
    border: var(--red-name-border);
    box-shadow: var(--red-name-shadow);
}
#site-name.blue{
    background: var(--blue-site-name);
    color: var(--blue-text);
    text-shadow: var(--blue-text-shadow);
    border: var(--blue-name-border);
    box-shadow: var(--blue-name-shadow);
}
#site-name.green{
    background: var(--green-site-name);
    color: var(--green-text);
    text-shadow: var(--green-text-shadow);
    border: var(--green-name-border);
    box-shadow: var(--green-name-shadow);
}
#site-name.yellow{
    background: var(--yellow-site-name);
    color: var(--yellow-text);
    text-shadow: var(--yellow-text-shadow);
    border: var(--yellow-name-border);
    box-shadow: var(--yellow-name-shadow);
}
#site-name.purple{
    background: var(--purple-site-name);
    color: var(--purple-text);
    text-shadow: var(--purple-text-shadow);
    border: var(--purple-name-border);
    box-shadow: var(--purple-name-shadow);
    
}
#site-name.pink{
    background: var(--pink-site-name);
    color: var(--pink-text);
    text-shadow: var(--pink-text-shadow);
    border: var(--pink-name-border);
    box-shadow: var(--pink-name-shadow);
}






.white.todo-bottom{
    background: var(--default-color2);
}
.red.todo-bottom{
    background: var(--red-color2);
}
.blue.todo-bottom{
    background: var(--blue-color2);
}
.green.todo-bottom{
    background: var(--green-color2);
}
.yellow.todo-bottom{
    background: var(--yellow-color2);
}
.purple.todo-bottom{
    background: var(--purple-color2);
}
.pink.todo-bottom{
    background: var(--pink-color2);
}



.white.todo-top{
    background:  var(--default-color);
}
.red.todo-top{
    background: var(--red-color);
}
.blue.todo-top{
    background: var(--blue-color);
}
.green.todo-top{
    background: var(--green-color);
}
.yellow.todo-top{
    background: var(--yellow-color);
}
.purple.todo-top{
    background: var(--purple-color);
}
.pink.todo-top{
    background: var(--pink-color);
}




.white.add-btn{
    background: var(--default-btn);
}
.red.add-btn{
    background: var(--red-btn);
}
.blue.add-btn{
    background: var(--blue-btn);
}
.green.add-btn{
    background: var(--green-btn);
}
.yellow.add-btn{
    background: var(--yellow-btn);
}
.purple.add-btn{
    background: var(--purple-btn);
}
.pink.add-btn{
    background: var(--pink-btn);
}


.white.add-btn:hover{
    background: var(--default-hover);
    
}
.red.add-btn:hover{
    background: var(--red-hover);
    
}
.blue.add-btn:hover{
    background: var(--blue-hover);
    
}
.green.add-btn:hover{
    background: var(--green-hover);
    
}
.yellow.add-btn:hover{
    background: var(--yellow-hover);
    
}
.purple.add-btn:hover{
    background: var(--purple-hover);
    
    
}
.pink.add-btn:hover{
    background: var(--pink-hover);
    
}



.white.x-btn{
    background: var(--default-btn);
}
.red.x-btn{
    background: var(--red-btn);
}
.blue.x-btn{
    background: var(--blue-btn);
}
.green.x-btn{
    background: var(--green-btn);
}
.yellow.x-btn{
    background: var(--yellow-btn);
}
.purple.x-btn{
    background: var(--purple-btn);
}
.pink.x-btn{
    background: var(--pink-btn);
}


.white.x-btn:hover{
    background: var(--default-hover);
}
.red.x-btn:hover{
    background: var(--red-hover);
}
.blue.x-btn:hover{
    background: var(--blue-hover);
}
.green.x-btn:hover{
    background: var(--green-hover);
}
.yellow.x-btn:hover{
    background: var(--yellow-hover);
}
.purple.x-btn:hover{
    background: var(--purple-hover);
}
.pink.x-btn:hover{
    background: var(--pink-hover);
}


.list-container.white li.checked {
    color: var(--default-btn);
}
.list-container.red  li.checked{
    color: var(--red-btn);
}
.list-container.blue li.checked{
    color: var(--blue-btn);
}
.list-container.green li.checked{
    color: var(--green-btn);
}
.list-container.yellow li.checked{
    color: blueviolet;
}
.list-container.purple li.checked{
    color: var(--purple-btn);
}
.list-container.pink li.checked{
    color: var(--pink-hover);
}


.list-container.white li i:hover{
    background: var(--default-hover);
}
.list-container.red li i:hover{
    background: var(--red-hover);
}
.list-container.blue li i:hover{
    background: var(--blue-hover);
}
.list-container.green li i:hover{
    background: var(--green-hover);
}
.list-container.yellow li i:hover{
    background: var(--yellow-hover);
}
.list-container.purple li i:hover{
    background: var(--purple-hover);
}
.list-container.pink li i:hover{
    background: var(--pink-hover);
}



.list-container.white::-webkit-scrollbar-thumb {
    background: var(--default-container);
}
.list-container.red ::-webkit-scrollbar-thumb{
    background: var(--red-container);
}
.list-container.blue::-webkit-scrollbar-thumb{
    background: var(--blue-container);
}
.list-container.green::-webkit-scrollbar-thumb{
    background: var(--green-container);
}
.list-container.yellow::-webkit-scrollbar-thumb{
    background: var(--yellow-container);
}
.list-container.purple::-webkit-scrollbar-thumb{
    background: var(--purple-tag);
}
.list-container.pink::-webkit-scrollbar-thumb{
    background: var(--pink-tag);
}


.white.big-btn {
    background: var(--default-big);
    color: var(--default-btn);
    border-color: var(--default-border);
    box-shadow: var(--default-btn-shadow);
    
    
}
.red.big-btn {
    background: var(--red-big);
    color: var(--red-btn);
    border-color: var(--red-border);
    box-shadow: var(--red-btn-shadow);
    
}
.blue.big-btn {
    background: var(--blue-big);
    color: var(--blue-btn);
    border-color: var(--blue-border);
    box-shadow: var(--blue-btn-shadow);
    
}
.green.big-btn {
    background: var(--green-big);
    color: var(--green-btn);
    border-color: var(--green-border);
    box-shadow: var(--green-btn-shadow);
    
}
.yellow.big-btn {
    background: var(--yellow-big);
    color: var(--yellow-border);
    border-color: var(--yellow-border);
    box-shadow: var(--yellow-btn-shadow);
    
}
.purple.big-btn {
    background: var(--purple-big);
    color: var(--purple-btn);
    border-color: var(--purple-border);
    box-shadow: var(--purple-btn-shadow);
   
    
}
.pink.big-btn {
    background: var(--pink-big);
    color: var(--pink-btn);
    border-color: var(--pink-border);
    box-shadow: var(--pink-btn-shadow);
    
}



.white.big-btn:hover {
    border-color: var(--default-hover)
}
.red.big-btn:hover {
    border-color: var(--red-hover)
    
}
.blue.big-btn:hover {
    border-color: var(--blue-hover)
    
}
.green.big-btn:hover {
    border-color: var(--green-hover)
    
    
}
.yellow.big-btn:hover {
    border-color: var(--yellow-hover)
    
}
.purple.big-btn:hover {
    border-color: var(--purple-hover)
    
}
.pink.big-btn:hover {
    border-color: var(--pink-hover)
    
}



.white#storage-container{
    background:  var(--default-container);
}
.red#storage-container{
    background: var(--red-container);
}
.blue#storage-container{
    background: var(--blue-container);
}
.green#storage-container{
    background: var(--green-container);
}
.yellow#storage-container{
    background: var(--yellow-container);
}
.purple#storage-container{
    background: var(--purple-container);
}
.pink#storage-container{
    background: var(--pink-container);
}



.white#storage-container::-webkit-scrollbar-thumb{
    background:  var(--default-container);
}
.red#storage-container::-webkit-scrollbar-thumb{
    background: var(--red-container);
}
.blue#storage-container::-webkit-scrollbar-thumb{
    background: var(--blue-container);
}
.green#storage-container::-webkit-scrollbar-thumb{
    background: var(--green-container);
}
.yellow#storage-container::-webkit-scrollbar-thumb{
    background: var(--yellow-container);
}
.purple#storage-container::-webkit-scrollbar-thumb{
    background: var(--purple-container);
}
#storage-container.pink::-webkit-scrollbar-thumb{
    background: var(--pink-big);
}

.white#world-container::-webkit-scrollbar-thumb{
    background:  var(--default-container);
}
.red#world-container::-webkit-scrollbar-thumb{
    background: var(--red-container);
}
.blue#world-container::-webkit-scrollbar-thumb{
    background: var(--blue-container);
}
#world-container.green::-webkit-scrollbar-thumb{
    background: var(--green-tag);
}
.yellow#world-container::-webkit-scrollbar-thumb{
    background: var(--yellow-btn);
}
.purple#world-container::-webkit-scrollbar-thumb{
    background: var(--purple-big);
}
.pink#world-container::-webkit-scrollbar-thumb{
    background: var(--pink-big);
}

.white#world-container::-webkit-scrollbar-track{
    background:  white;
}
.red#world-container::-webkit-scrollbar-track{
    background: var(--red-tag);
}
.blue#world-container::-webkit-scrollbar-track{
    background: var(--blue-tag);
}
.green#world-container::-webkit-scrollbar-track{
    background: var(--green-container);
}
.yellow#world-container::-webkit-scrollbar-track{
    background: var(--yellow-color);
}
.purple#world-container::-webkit-scrollbar-track{
    background: var(--purple-container);
}
.pink#world-container::-webkit-scrollbar-track{
    background: var(--pink-container);
}




.white.storage-box{
    background: var(--default-box);
}
.red.storage-box{
    background: var(--red-box);
}
.blue.storage-box{
    background: var(--blue-box);
}
.green.storage-box{
    background: var(--green-box);
}
.yellow.storage-box{
    background: var(--yellow-box);
}
.purple.storage-box{
    background: var(--purple-box);
}
.pink.storage-box{
    background: var(--pink-box);
}



.white.storage-box:hover{
    background: var(--default-box-hover);
    box-shadow: var(--default-box-shadow-hover);
}
.red.storage-box:hover{
    background: var(--red-box-hover);
    box-shadow: var(--red-box-shadow-hover);
}
.blue.storage-box:hover{
    background: var(--blue-box-hover);
    box-shadow: var(--blue-box-shadow-hover);
}
.green.storage-box:hover{
    background: var(--green-box-hover);
    box-shadow: var(--green-box-shadow-hover);
}
.yellow.storage-box:hover{
    background: var(--yellow-box-hover);
    box-shadow: var(--yellow-box-shadow-hover);
}
.purple.storage-box:hover{
    background: var(--purple-box-hover);
    box-shadow: var(--purple-box-shadow-hover);
   
}
.pink.storage-box:hover{
    background: var(--pink-box-hover);
    box-shadow: var(--pink-box-shadow-hover);
}


.white#storage-group{
    background:  var(--default-tag);
}
.red#storage-group{
    background: var(--red-tag);
}
.blue#storage-group{
    background: var(--blue-tag);
}
.green#storage-group{
    background: var(--green-tag);
}
.yellow#storage-group{
    background: var(--yellow-tag);
}
.purple#storage-group{
    background: var(--purple-tag);
}
.pink#storage-group{
    background: var(--pink-tag);
}


.white#storage-group #storage-tag{
    background:  var(--default-span);
}
.red#storage-group #storage-tag{
    background: var(--red-span);
}
.blue#storage-group #storage-tag{
    background: var(--blue-span);
}
.green#storage-group #storage-tag{
    background: var(--green-span);
    
}
.yellow#storage-group #storage-tag{
    background: var(--yellow-span);
   
}
.purple#storage-group #storage-tag{
    background: var(--purple-span);
}
.pink#storage-group #storage-tag{
    background: var(--pink-span);
}


#world-container.white.dark-mode{
    background: var(--default-world-container-dark);
}
#world-container.red.dark-mode{
    background: var(--red-world-container-dark);
}
#world-container.blue.dark-mode{
    background: var(--blue-world-container-dark);
}
#world-container.green.dark-mode{
    background: var(--green-world-container-dark);
}
#world-container.yellow.dark-mode{
    background: var(--yellow-world-container-dark);
}
#world-container.purple.dark-mode{
    background: var(--purple-world-container-dark);
}
#world-container.pink.dark-mode{
    background: var(--pink-world-container-dark);
}


#site-block.white.dark-mode{
    background: linear-gradient(90deg, deepskyblue, midnightblue, transparent 50%);
}
#site-block.red.dark-mode{
    background: var(--red-site-block-dark);
}
#site-block.blue.dark-mode{
    background: var(--blue-site-block-dark);
}
#site-block.green.dark-mode{
    background: var(--green-site-block-dark);
}
#site-block.yellow.dark-mode{
    background: var(--yellow-site-block-dark);
}
#site-block.purple.dark-mode{
    background: var(--purple-site-block-dark);
}
#site-block.pink.dark-mode{
    background: var(--pink-site-block-dark);
}


@media screen and (max-width:750px) {
    #site-block.white.dark-mode{
        background: linear-gradient(360deg, deepskyblue, midnightblue, transparent 50%);
    }

    #site-block.green.dark-mode{
        background: linear-gradient(180deg, dimgrey, transparent 50%);
    }
    #site-block.yellow.dark-mode{
        background: linear-gradient(180deg, dimgrey, transparent 80%);;
    }
   
    
}

#site-name.white.dark-mode{
    background:  var(--default-site-name-dark);
    color: var(--default-text-dark);
    text-shadow: var(--default-text-shadow-dark);
    border: var(--default-name-border-dark);
    box-shadow: var(--default-name-shadow-dark);
}
#site-name.red.dark-mode{
    background: var(--red-site-name-dark);
    color: var(--red-text-dark);
    text-shadow: var(--red-text-shadow-dark);
    border: var(--red-name-border-dark);
    box-shadow: var(--red-name-shadow-dark);
}
#site-name.blue.dark-mode{
    background: var(--blue-site-name-dark);
    color: var(--blue-text-dark);
    text-shadow: var(--blue-text-shadow-dark);
    border: var(--blue-name-border-dark);
    box-shadow: var(--blue-name-shadow-dark);
}
#site-name.green.dark-mode{
    background: var(--green-site-name-dark);
    color: var(--green-text-dark);
    text-shadow: var(--green-text-shadow-dark);
    border: var(--green-name-border-dark);
    box-shadow: var(--green-name-shadow-dark);
}
#site-name.yellow.dark-mode{
    background: var(--yellow-site-name-dark);
    color: var(--yellow-text-dark);
    text-shadow: var(--yellow-text-shadow-dark);
    border: var(--yellow-name-border-dark);
    box-shadow: var(--yellow-name-shadow-dark);
}
#site-name.purple.dark-mode{
    background: var(--purple-site-name-dark);
    color: var(--purple-text-dark);
    text-shadow: var(--purple-text-shadow-dark);
    border: var(--purple-name-border-dark);
    box-shadow: var(--purple-name-shadow-dark);
    
}
#site-name.pink.dark-mode{
    background: var(--pink-site-name-dark);
    color: var(--pink-text-dark);
    text-shadow: var(--pink-text-shadow-dark);
    border: var(--pink-name-border-dark);
    box-shadow: var(--pink-name-shadow-dark);
}







.white.todo-bottom.dark-mode{
    background: var(--default-color2-dark);
}
.red.todo-bottom.dark-mode{
    background: var(--red-color2-dark);
}
.blue.todo-bottom.dark-mode{
    background: var(--blue-color2-dark);
}
.green.todo-bottom.dark-mode{
    background: var(--green-color2-dark);
}
.yellow.todo-bottom.dark-mode{
    background: var(--yellow-color2-dark);
}
.purple.todo-bottom.dark-mode{
    background: var(--purple-color2-dark);
}
.pink.todo-bottom.dark-mode{
    background: var(--pink-color2-dark);
}



.white.todo-top.dark-mode{
    background:  var(--default-color-dark);
}
.red.todo-top.dark-mode{
    background: var(--red-color-dark);
}
.blue.todo-top.dark-mode{
    background: var(--blue-color-dark);
}
.green.todo-top.dark-mode{
    background: var(--green-color-dark);
}
.yellow.todo-top.dark-mode{
    background: var(--yellow-color-dark);
}
.purple.todo-top.dark-mode{
    background: var(--purple-color-dark);
}
.pink.todo-top.dark-mode{
    background: var(--pink-color-dark);
}




.white.add-btn.dark-mode{
    background: var(--default-btn-dark);
}
.red.add-btn.dark-mode{
    background: var(--red-btn-dark);
}
.blue.add-btn.dark-mode{
    background: var(--blue-btn-dark);
}
.green.add-btn.dark-mode{
    background: var(--green-btn-dark);
}
.yellow.add-btn.dark-mode{
    background: var(--yellow-btn-dark);
}
.purple.add-btn.dark-mode{
    background: var(--purple-btn-dark);
}
.pink.add-btn.dark-mode{
    background: var(--pink-btn-dark);
}


.white.add-btn.dark-mode:hover{
    background: var(--default-hover-dark);
    
}
.red.add-btn.dark-mode:hover{
    background: var(--red-hover-dark);
    
}
.blue.add-btn.dark-mode:hover{
    background: var(--blue-hover-dark);
    
}
.green.add-btn.dark-mode:hover{
    background: var(--green-hover-dark);
    
}
.yellow.add-btn.dark-mode:hover{
    background: var(--yellow-hover-dark);
    
}
.purple.add-btn.dark-mode:hover{
    background: var(--purple-hover-dark);
    
    
}
.pink.add-btn.dark-mode:hover{
    background: var(--pink-hover-dark);
    
}



.white.x-btn.dark-mode{
    background: var(--default-btn-dark);
}
.red.x-btn.dark-mode{
    background: var(--red-btn-dark);
}
.blue.x-btn.dark-mode{
    background: var(--blue-btn-dark);
}
.green.x-btn.dark-mode{
    background: var(--green-btn-dark);
}
.yellow.x-btn.dark-mode{
    background: var(--yellow-btn-dark);
}
.purple.x-btn.dark-mode{
    background: var(--purple-btn-dark);
}
.pink.x-btn.dark-mode{
    background: var(--pink-btn-dark);
}


.white.x-btn.dark-mode:hover{
    background: var(--default-hover-dark);
}
.red.x-btn.dark-mode:hover{
    background: var(--red-hover-dark);
}
.blue.x-btn.dark-mode:hover{
    background: var(--blue-hover-dark);
}
.green.x-btn.dark-mode:hover{
    background: var(--green-hover-dark);
}
.yellow.x-btn.dark-mode:hover{
    background: var(--yellow-hover-dark);
}
.purple.x-btn.dark-mode:hover{
    background: var(--purple-hover-dark);
}
.pink.x-btn.dark-mode:hover{
    background: var(--pink-hover-dark);
}


.list-container.white.dark-mode li.checked {
    color: var(--default-btn-dark);
}
.list-container.red .dark-mode li.checked{
    color: var(--red-btn-dark);
}
.list-container.blue.dark-mode li.checked{
    color: var(--blue-btn-dark);
}
.list-container.green.dark-mode li.checked{
    color: var(--green-btn-dark);
}
.list-container.yellow.dark-mode li.checked{
    color: var(--yellow-btn-dark);
}
.list-container.purple.dark-mode li.checked{
    color: var(--purple-btn-dark);
}
.list-container.pink.dark-mode li.checked{
    color: var(--pink-btn-dark);
}


.list-container.white.dark-mode li i:hover{
    background: var(--default-hover-dark);
}
.list-container.red.dark-mode li i:hover{
    background: var(--red-hover-dark);
}
.list-container.blue.dark-mode li i:hover{
    background: var(--blue-hover-dark);
}
.list-container.green.dark-mode li i:hover{
    background: var(--green-hover-dark);
}
.list-container.yellow.dark-mode li i:hover{
    background: var(--yellow-hover-dark);
}
.list-container.purple.dark-mode li i:hover{
    background: var(--purple-hover-dark);
}
.list-container.pink.dark-mode li i:hover{
    background: var(--pink-hover-dark);
}



.list-container.white.dark-mode::-webkit-scrollbar-thumb {
    background: var(--default-container-dark);
}
.list-container.red .dark-mode::-webkit-scrollbar-thumb{
    background: var(--red-container-dark);
}
.list-container.blue.dark-mode::-webkit-scrollbar-thumb{
    background: var(--blue-container-dark);
}
.list-container.green.dark-mode::-webkit-scrollbar-thumb{
    background: var(--green-tag-dark);
}
.list-container.yellow.dark-mode::-webkit-scrollbar-thumb{
    background: var(--yellow-container-dark);
}
.list-container.purple.dark-mode::-webkit-scrollbar-thumb{
    background: var(--purple-container-dark);
}
.list-container.pink.dark-mode::-webkit-scrollbar-thumb{
    background: var(--pink-container-dark);
}


.white.big-btn.dark-mode{
    background: var(--default-big-dark);
    color: var(--default-btn-dark);
    border-color: var(--default-border-dark);
    box-shadow: var(--default-btn-shadow-dark);
    
    
}
.red.big-btn.dark-mode{
    background: var(--red-big-dark);
    color: var(--red-btn-dark);
    border-color: var(--red-border-dark);
    box-shadow: var(--red-btn-shadow-dark);
    
}
.blue.big-btn.dark-mode{
    background: var(--blue-big-dark);
    color: var(--blue-btn-dark);
    border-color: var(--blue-border-dark);
    box-shadow: var(--blue-btn-shadow-dark);
    
}
.green.big-btn.dark-mode{
    background: var(--green-big-dark);
    color: var(--green-btn-dark);
    border-color: var(--green-border-dark);
    box-shadow: var(--green-btn-shadow-dark);
    
}
.yellow.big-btn.dark-mode{
    background: var(--yellow-big-dark);
    color: var(--yellow-btn-dark);
    border-color: var(--yellow-border-dark);
    box-shadow: var(--yellow-btn-shadow-dark);
    
}
.purple.big-btn.dark-mode{
    background: var(--purple-big-dark);
    color: var(--purple-btn-dark);
    border-color: var(--purple-border-dark);
    box-shadow: var(--purple-btn-shadow-dark);
   
    
}
.pink.big-btn.dark-mode{
    background: var(--pink-big-dark);
    color: var(--pink-btn-dark);
    border-color: var(--pink-border-dark);
    box-shadow: var(--pink-btn-shadow-dark);
    
}



.white.big-btn.dark-mode:hover {
    border-color: var(--default-hover-dark)
}
.red.big-btn.dark-mode:hover {
    border-color: var(--red-hover-dark)
    
}
.blue.big-btn.dark-mode:hover {
    border-color: var(--blue-hover-dark)
    
}
.green.big-btn.dark-mode:hover {
    border-color: var(--green-hover-dark)
    
    
}
.yellow.big-btn.dark-mode:hover{
    border-color: var(--yellow-hover-dark)
    
}
.purple.big-btn.dark-mode:hover{
    border-color: var(--purple-hover-dark)
    
}
.pink.big-btn.dark-mode:hover{
    border-color: var(--pink-hover-dark)
    
}



.white#storage-container.dark-mode{
    background:  var(--default-container-dark);
}
.red#storage-container.dark-mode{
    background: var(--red-container-dark);
}
.blue#storage-container.dark-mode{
    background: var(--blue-container-dark);
}
.green#storage-container.dark-mode{
    background: var(--green-container-dark);
}
.yellow#storage-container.dark-mode{
    background: var(--yellow-container-dark);
}
.purple#storage-container.dark-mode{
    background: var(--purple-container-dark);
}
.pink#storage-container.dark-mode{
    background: var(--pink-container-dark);
}



.white#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background:  var(--default-container-dark);
}
.red#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--red-container-dark);
}
.blue#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--blue-container-dark);
}
.green#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--green-container-dark);
}
.yellow#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--yellow-container-dark);
}
.purple#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--purple-container-dark);
}
.pink#storage-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--pink-container-dark);
}


.white#world-container.dark-mode::-webkit-scrollbar-thumb{
    background:  var(--default-container-dark);
}
.red#world-container.dark-mode::-webkit-scrollbar-thumb{
    background: dimgray;
}
.blue#world-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--blue-box-dark);
}
.green#world-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--green-box-dark);
}
.yellow#world-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--yellow-big-dark);
}
.purple#world-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--purple-color2-dark);
}
.pink#world-container.dark-mode::-webkit-scrollbar-thumb{
    background: var(--pink-container-dark);
}

.white#world-container.dark-mode::-webkit-scrollbar-track{
    background:  var(--default-color2-dark);
}
.red#world-container.dark-mode::-webkit-scrollbar-track{
    background: transparent;
}
.blue#world-container.dark-mode::-webkit-scrollbar-track{
    background: var(--blue-container-dark);
}
.green#world-container.dark-mode::-webkit-scrollbar-track{
    background: var(--green-container-dark);
}
.yellow#world-container.dark-mode::-webkit-scrollbar-track{
    background: transparent;
}
.purple#world-container.dark-mode::-webkit-scrollbar-track{
    background: transparent;
}
.pink#world-container.dark-mode::-webkit-scrollbar-track{
    background: transparent;
}


.white.storage-box.dark-mode{
    background: var(--default-box-dark);
}
.red.storage-box.dark-mode{
    background: var(--red-box-dark);
}
.blue.storage-box.dark-mode{
    background: var(--blue-box-dark);
}
.green.storage-box.dark-mode{
    background: var(--green-box-dark);
}
.yellow.storage-box.dark-mode{
    background: var(--yellow-box-dark);
}
.purple.storage-box.dark-mode{
    background: var(--purple-box-dark);
}
.pink.storage-box.dark-mode{
    background: var(--pink-box-dark);
}



.white.storage-box:hover.dark-mode{
    background: var(--default-box-hover-dark);
    box-shadow: var(--default-box-shadow-hover-dark);
}
.red.storage-box:hover.dark-mode{
    background: var(--red-box-hover-dark);
    box-shadow: var(--red-box-shadow-hover-dark);
}
.blue.storage-box:hover.dark-mode{
    background: var(--blue-box-hover-dark);
    box-shadow: var(--blue-box-shadow-hover-dark);
}
.green.storage-box:hover.dark-mode{
    background: var(--green-box-hover-dark);
    box-shadow: var(--green-box-shadow-hover-dark);
}
.yellow.storage-box:hover.dark-mode{
    background: var(--yellow-box-hover-dark);
    box-shadow: var(--yellow-box-shadow-hover-dark);
}
.purple.storage-box:hover.dark-mode{
    background: var(--purple-box-hover-dark);
    box-shadow: var(--purple-box-shadow-hover-dark);
   
}
.pink.storage-box:hover.dark-mode{
    background: var(--pink-box-hover-dark);
    box-shadow: var(--pink-box-shadow-hover-dark);
}


.white#storage-group.dark-mode{
    background:  var(--default-tag-dark);
}
.red#storage-group.dark-mode{
    background: var(--red-tag-dark);
}
.blue#storage-group.dark-mode{
    background: var(--blue-tag-dark);
}
.green#storage-group.dark-mode{
    background: var(--green-tag-dark);
}
.yellow#storage-group.dark-mode{
    background: var(--yellow-tag-dark);
}
.purple#storage-group.dark-mode{
    background: var(--purple-tag-dark);
}
.pink#storage-group.dark-mode{
    background: var(--pink-tag-dark);
}


.white#storage-group.dark-mode #storage-tag{
    background:  var(--default-span-dark);
}
.red#storage-group.dark-mode #storage-tag{
    background: var(--red-span-dark);
}
.blue#storage-group.dark-mode #storage-tag{
    background: var(--blue-span-dark);
}
.green#storage-group.dark-mode #storage-tag{
    background: var(--green-span-dark);
    color: lime;
    box-shadow: 0 0 10px lime;
}
.yellow#storage-group.dark-mode #storage-tag{
    background: var(--yellow-span-dark);
}
.purple#storage-group.dark-mode #storage-tag{
    background: var(--purple-span-dark);
}
.pink#storage-group.dark-mode #storage-tag{
    background: var(--pink-span-dark);
}
