<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Recipe</title>
    <script
      src="https://kit.fontawesome.com/e186fe6458.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <a href="/index.html"
      ><div class="logo">
        <h1 class="logo-text">Neat <br />Recipes</h1>
      </div></a
    >
  </body>
</html>
