<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Recipe</title>
    <script
      src="https://kit.fontawesome.com/e186fe6458.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Concert+One&family=Marcellus&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <a href="/index.html"
      ><div class="logo">
        <h1 class="logo-text">Neat <br />Recipes</h1>
      </div></a
    >
    <div class="page-container">
      <div class="page-container page-container--shadow">
        <div class="special-lable">
          <h2 class="recipe-name">Super beefy tacos</h2>
        </div>
        <div class="optional-container hide">
          <img id="view-img" src="/food-wallpaper.png" alt="" />

          <div class="optional-text-box">
            <ul class="optional-list"></ul>
            <div class="description-text">
              <h3 id="description-input"></h3>
            </div>
          </div>
        </div>
        <div class="recipe-box">
          <div class="recipe-lable lable-primary">
            <h2 class="recipe-text">Ingrediants</h2>
          </div>
        </div>

        <div id="ingrediant-container">
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
          <li>yummy</li>
        </div>
        <div class="recipe-box">
          <div class="recipe-lable lable-primary">
            <h2 class="recipe-text">Instructions</h2>
          </div>
        </div>
        <ol id="instruction-container">
          <li>
            to start off grab a spork and spin it around, no imean like really
            spin around, like i'm not joking spin that thing around like crazy!
          </li>
          <li>
            then throw it a pot to enhance the flavor profile of the pot, what
            do you mean i'm crazy? YOUR CRAZY!
          </li>
          <li>
            ok ok maybe we got off on the wrong foot, i just really like cooking
            you know? anyway's lets just relax.
          </li>
          <li>
            to start off grab a spork and spin it around, no imean like really
            spin around, like i'm not joking spin that thing around like crazy!
          </li>
          <li>
            then throw it a pot to enhance the flavor profile of the pot, what
            do you mean i'm crazy? YOUR CRAZY!
          </li>
          <li>
            ok ok maybe we got off on the wrong foot, i just really like cooking
            you know? anyway's lets just relax.
          </li>
        </ol>
        <div class="recipe-box">
          <div class="recipe-lable lable-primary">
            <a href="/index.html"
              ><button id="return-btn" class="btn btn-primary">
                Return
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="/view/view.js"></script>
  </body>
</html>
